<div class="container">
<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <ul>
    <% @message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
 

  <div class="form-inputs">

    
    <% if params[:parent] %>
      <%= f.hidden_field :parent_id, :value => params[:parent] %>
    <% else %>
      <%= f.hidden_field :parent_id, :value => 0 %>
    <% end %>

    <%= f.hidden_field :recipient_id, :value => params[:owner] %>
    <%= f.input :content %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Send', class: "btn btn-primary" %>
  </div>
<% end %>
</div>