<p id="notice"><%= notice %></p>


<%= link_to 'Sent Mail', messages_sent_path %>



<h1>Inbox</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Content</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.reverse.each do |message| %>
      <tr>
        <td><%= message.owner.username %></td>
        <td><%= message.content %></td>

        <td><%= link_to 'Show', message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

