<p id="notice"><%= notice %></p>


<%= form_tag(messages_path, method: :get) do %>
    <select name="filter">
      <option value="Inbox">Inbox</option>
      <option value="Sent Mail">Sent mail</option>
    </select>
  <%= submit_tag 'Go', name: nil%>
<% end %>


<h1>Inbox</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Owner</th>
      <th>Recipient</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user.username %></td>
        <td><%= message.content %></td>
        <td><%= message.recipient_id %></td>
        <td><%= message.read %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

