<p id="notice"><%= notice %></p>



<div class="container">

<div class="messages-page">
<h1>Inbox</h1>

<%= link_to 'Sent Mail', messages_sent_path, class: "btn btn-primary" %> 

    <div class="row">
      <div class="col-md-4">
      <h2>From</h2>
    </div>

    
      <div class="col-md-8">
     <h2> Message</h2>
    </div>
     </div><!--row ends-->
    


    <% @messages.reverse.each do |message| %>
     
      <div class="row">
          <div class="col-md-4">
          <%= message.owner.username %>
        </div>

        
            <div class="col-md-8">
            <%= message.content %>
            <%= link_to 'Show', message, class: "btn btn-primary" %>
          </div>
        </div><!--row ends-->
        

        
    <% end %>
  </tbody>
</table>
</div><!--messages page ends-->

</div><!--container ends--> 

<br>

