<div class="container">
<p id="notice"><%= notice %></p>

<h1><%= @message.recipient.username %></h1>


<% @history.each do |history| %>
	

		<% if history.recipient == current_user %>
			<div class="row justify-content-start">
	
				<div class="col-md-4">
					<div class="recieved-message">
						<%= history.content %>
					</div> <!-- end message -->
				</div> <!-- end col -->
			</div> <!-- end row -->

		<% else %>
			<div class="row justify-content-end">
		
				<div class="col-md-4">
					<div class="sent-message">
						<%= history.content %>
					</div>
				</div> <!-- end col -->
			</div> <!-- end row -->

		<% end %>
		



<% end %>


<%= render 'form', message: @message, class: "btn btn-primary" %>

</div>