<div class="container">
<p id="notice"><%= notice %></p>
<h1><%= @message.recipient.username %></h1>


<% @history.each do |history| %>
	
	
	<% if history.recipient == current_user %>
		<div class="recieved-message">
			<%=  "From #{@message.owner.username}:" %>
	<% else %>
		<div class="sent-message">
			<%= "To #{@message.recipient.username}:" %>
	<% end %>


		<%= history.content %>
	</div>


<% end %>


<%= render 'form', message: @message, class: "btn btn-primary" %>

</div>