<p id="notice"><%= notice %></p>


<%= link_to 'Inbox', messages_path %>



<h1>Sent mail </h1>

<table>
  <thead>
    <tr>

      <th>To</th>
      <th>Content</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.reverse.each do |message| %>
      <tr>
        <td><%= message.recipient.username%></td>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

