<p id="notice"><%= notice %></p>




<div class="container">

  <div class="sent-mail">

<h1>Sent Mail </h1>

<%= link_to 'Inbox', messages_path, class: "btn btn-primary" %>

<div class="row">
      <div class="col-md-4">
      <h2>To</h2>
    </div><!--col 4 ends-->

    <div class="col-md-8">
      <h2>Content</h2>
    </div><!--col 8 ends--> 

  </div><!--row ends-->
      

  <tbody>
    <% @messages.reverse.each do |message| %>

    <div class="row">
          <div class="col-md-4">
          <%= message.recipient.username %>
        </div>

        
            <div class="col-md-8">
            <%= message.content %>
            <%= link_to 'Show', message, class: "btn btn-primary" %>
          </div>
        </div><!--row ends-->
    <% end %>
  

</div><!--sent mail-->
</div><!--container closes-->

<br>

