<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @message.user.username %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @message.recipient_id %>
</p>

<p>
  <strong>Read:</strong>
  <%= @message.read %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
