<div class="container">

<p id="notice"><%= notice %></p>



<% @messages.reverse.each do |message| %>

	<div class="message-container">
			<p>
			  <strong>Message:</strong>
			  <%= message.content %>
			</p>

			<p>
			  <strong>From:</strong>
			  <%= message.owner.username %>
			</p>

			<p>
			  <strong>To:</strong>
			  <%= message.recipient.username %>
			</p>
		</div>
		----------------------------------
		<br>

<% end %>
<%= link_to 'Back', messages_path, class: "btn btn-primary" %> |
<%= link_to 'Reply', messages_reply_path(:parent => @message.id, :recipient_id => @message.owner_id), class: "btn btn-primary"%>
</div>