<div class="container">

<p id="notice"><%= notice %></p>



<% @messages.reverse.each do |message| %>

	<div class="message-container">
			<p>
			  <strong>Content:</strong>
			  <%= message.content %>
			</p>

			<p>
			  <strong>Owner:</strong>
			  <%= message.owner.username %>
			</p>

			<p>
			  <strong>Recipient:</strong>
			  <%= message.recipient.username %>
			</p>
		</div>

<% end %>
<%= link_to 'Back', messages_path %> |
<%= link_to 'Reply', messages_reply_path(:parent => @message.id, :recipient_id => @message.owner_id)%>
</div>