
<%= simple_form_for @textbook do |f| %>

  <% if textbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(textbook.errors.count, "error") %> prohibited this textbook from being saved:</h2>

        <ul>
        <% textbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <!-- Simple Form for textbooks -->

  <%= f.input :title, required: true, error: 'Title is mandatory, please specify one'%>
  <%= f.input :author, required: true %>
  <%= f.input :section, label: "Class", required: true%>
  <%= f.input :condition, as: :radio_buttons, collection: ["New", "Good", "Okay", "Bad"], required: true %>
  <%= f.input :isbn, label: "ISBN", hint: "ISBN (International Standard Book Number) is a numerical way to identify books", required: true %>
  <%= f.input :price, required: true%>
  <%= f.input :description, required: true%>
  <%= f.input :amount_used, as: :radio_buttons, collection: ['Unknown', 'A little', 'Some', 'A lot'], required: true %>


  <% if @textbook.image? %>

      <%= image_tag @textbook.image.url %>
      <br>

      <%= f.check_box :remove_image %>
  <% end %>

  <%= f.file_field :image %>
  <%= f.button :submit %>
  
<% end %>


