
<div class="container">
  
<%= simple_form_for @textbook do |f| %>

  <% if textbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(textbook.errors.count, "error") %> prohibited this textbook from being saved:</h2>


        <ul>
        <% textbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <!-- Simple Form for textbooks -->

  <%= f.input :title%>
  <%= f.input :author%>
  <%= f.input :condition %>
  <%= f.input :isbn %>
  <%= f.input :price%>
  <%= f.input :description%>
  <%= f.input :email%>
  <%= f.input :amount_used, as: :radio_buttons, collection: ['Unknown', 'A little', 'A moderate amount', 'A lot']%>



  <%= f.button :submit %>
<% end %>
</div><!--container ends here-->

