<div class="index-background">

  <div class="row">

    <div class="col-12">

    <div class="hero-image">
      <div class="hero-image-overlay">
            <div class="hero-image-container">
    <div class="hero-image-text"><h1> College is Stressful... We're not.</h1> 
    <h2>We let you get the textbooks you need for way less than the retail price.</h2>
    </div><!--hero image text ends-->
  



  <div class="d-flex justify-content-center">
    <div class="search-bar">
        <li class="textbook-navbar" style="display:flex;">
             <%= form_tag(textbooks_path, method: :get) do %>
              <%= text_field_tag :input, "" %>
             <%= select_tag(:category, options_for_select([ ['Title', "title"], ['ISBN', "isbn"], ['Author', "author"], ["Subject", "subject"]], :selected => params[:category]))  %> 
              <%= submit_tag 'Search', name: nil, :class=>"btn btn-primary" %>
            <% end %>
            </li><!--search-bar ends here-->
    </div><!--search bar-->
    </div><!--hero image ends-->
  </div><!--hero image container-->
      </div><!--/overlay0-->
    </div><!--column ends here-->
    
  </div><!--row ends-->  


  
  <div class="container">
      <%= notice %>
<div class="row">

</div>

    <div class="row">
      <div class="col-8">
      <div class="col-4">
      </div><!--col-4 ends here-->
    </div><!--row ends here-->  

    <div class="container">
      <div class="row">
        <!-- Print this data for every listing (realistically we should add a limit. Controller?)  -->
        <% @textbooks.each do |textbook| %>

          
          <div class="col-md-4 textbook-box-col">
            <div class="textbook-listing-box">
              <div class="card-title">
                <p><%= textbook.title %></p>
              </div>
                <% if textbook.image? %>
                      <%= link_to (image_tag textbook.image.url, class: "textbook-image"), textbook  %>
                <% else %>
                      <div style="height: 200px; text-align: center;">
                        <br>
                        <br>
                        <Strong> NO IMAGE </Strong>
                      </div>
                <% end %>
            
            <br>

              <ul>
                   
                    
                    <li class="textbook-price"><h1><%= number_to_currency(textbook.price) %></h1></li>
                    <li>Compare with: $24 at Amazon.com</li>
                  <br>
                                    <li class="textbook-isbn"><h3>ISBN:</h3><%= textbook.isbn %></li>

                    <br>
                  <%= link_to 'Show', textbook, class: "btn btn-outline-success my-2 my-sm-0" %>

                  <!-- Only show Edit & Destroy on listings the user owns -->
                  <% if textbook.user == current_user and user_signed_in? %> 
                    <%= link_to 'Edit', edit_textbook_path(textbook), class: "btn btn-outline-success my-2 my-sm-0" %> 
                    <%= link_to 'Delete', textbook, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-success my-2 my-sm-0"%>
                  <% else%>
                  <%= link_to 'Send Message', new_message_path(:recipient_id => textbook.user), class: "btn btn-outline-success my-2 my-sm-0"  %>
                  <% end %>
                  </li>
                           </ul>

            </div><!--textbook-listing-box ends here-->
          </div><!--col-md-4 ends here-->
        <% end %>
      </div><!--row ends here-->
    </div><!--container ends here-->

    <br>
    </div><!--row ends here-->
   
<!-- Footer -->


  </div><!--container ends here-->
</div><!--index-background ends here-->
