<div class="index-background">

  <div class="row">

    <div class="col-12">


    <div class="hero-image-text"><h1> College is Stressful... We're not.</h1> 
    <h2>We let you get the textbooks you need for way less than the retail price.</h2>
    </div><!--hero image text ends-->

    <div class="search-bar">
        <li class="textbook-navbar">
             <%= form_tag(textbooks_path, method: :get) do %>
              <%= text_field_tag :input, "" %>
             <%= select_tag(:category, options_for_select([ ['Title', "title"], ['ISBN', "isbn"], ['Author', "author"], ["Subject", "subject"]], :selected => params[:category]))  %> 
              <%= submit_tag 'Search', name: nil, :class=>"btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
            </li><!--search-bar ends here-->
    </div><!--search bar-->

     <div class="books-image"> 
     </div><!--books image-->
    </div><!--column ends here-->
    
  </div><!--row ends-->  


  
  <div class="container">
      <%= notice %>
<div class="row">

</div>

    <div class="row">
      <div class="col-8">
      <div class="col-4">
      </div><!--col-4 ends here-->
    </div><!--row ends here-->  

    <div class="container">
      <div class="row">
        <!-- Print this data for every listing (realistically we should add a limit. Controller?)  -->
        <% @textbooks.each do |textbook| %>

          
          <div class="col-md-4 textbook-box-col">
            <div class="textbook-listing-box">
              
            
              <ul>

                  <li class="textbook-title"><h2>Title</h2><%= textbook.title %></li>
                  <li class="textbook-isbn"><h2>ISBN-10</h2><%= textbook.isbn %></li>
                  <li class="textbook-price"><h2>Price</h2><%= number_to_currency(textbook.price) %></li>
                  <li class="link-to-text">
                  <%= link_to 'Show', textbook %>

                  <!-- Only show Edit & Destroy on listings the user owns -->
                  <% if textbook.user == current_user and user_signed_in? %>
                    | 
                    <%= link_to 'Edit', edit_textbook_path(textbook) %> |
                    <%= link_to 'Destroy', textbook, method: :delete, data: { confirm: 'Are you sure?' }%>
                  <% end %>
                  </li>
               </ul>
            </div><!--textbook-listing-box ends here-->
          </div><!--col-md-4 ends here-->
        <% end %>
      </div><!--row ends here-->
    </div><!--container ends here-->

    <br>
    </div><!--row ends here-->
   
<!-- Footer -->


  </div><!--container ends here-->
</div><!--index-background ends here-->
