
<div class="index-background">
  <div class="container">
     <!--  <br>
      <%= link_to 'New Textbook', new_textbook_path %>
      <br>
      <%= link_to 'All Textbooks', textbooks_path %>
      <p id="notice"><%= notice %></p> -->



    <div class="row">
      <div class="col-8">
        <div class="textbooks-heading">
          <h1>Textbooks</h1>
        </div><!--textbooks-heading ends here-->
      </div><!--row ends here-->
      <div class="col-4">
        <div class="search-bar">
       <%= form_tag(textbooks_path, method: :get) do %>
        <%= text_field_tag :input %>
          <select name="category">
            <option value="Title">Title</option>
            <option value="ISBN">ISBN</option>
            <option value="Author">Author</option>
          </select>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
        </div><!--search-bar ends here-->
      </div><!--col-4 ends here-->
    </div><!--row ends here-->

    

    <div class="container">
      <div class="row">
        <% @textbooks.each do |textbook| %>
          <div class="col-md-4 textbook-box-col">
            <div class="textbook-listing-box">
              <ul>
                  <li class="textbook-title"><h2>Title</h2><%= textbook.title %></li>
                  <li class="textbook-author"><h2>Author</h2><%= textbook.author %></li>
                  <li class="textbook-condition"><h2>Condition</h2><%= textbook.condition %></li>
                  <li class="textbook-isbn"><h2>ISBN</h2><%= textbook.isbn %></li>
                  <li class="textbook-price"><h2>Price</h2><%= textbook.price %></li>
                  <li class="textbook-description"><h2>Description</h2><%= textbook.description %></li>
                  <li class="textbook-email"><h2>Email</h2><%= textbook.email%></li>
                  <li class="link-to-text"><%= link_to 'Show', textbook %> |
                  <%= link_to 'Edit', edit_textbook_path(textbook) %> |
                  <%= link_to 'Destroy', textbook, method: :delete, data: { confirm: 'Are you sure?' } %></li>
               </ul>
            </div><!--textbook-listing-box ends here-->
          </div><!--col-md-4 ends here-->
        <% end %>
      </div><!--row ends here-->
    </div><!--container ends here-->

    <br>
    </div><!--row ends here-->
   
  </div><!--container ends here-->
</div><!--index-background ends here-->
