
<div class="index-background">
  <div class="container">


    <div class="row">
      <div class="col-8">
        <div class="textbooks-heading">
          <h1>Textbooks</h1>
        </div><!--textbooks-heading ends here-->
      </div><!--row ends here-->
      <div class="col-4">
      </div><!--col-4 ends here-->
    </div><!--row ends here-->

    

    <div class="container">
      <div class="row">
        <% @textbooks.each do |textbook| %>
          <div class="col-md-4 textbook-box-col">
            <div class="textbook-listing-box">
              <ul>
                  <li class="textbook-title"><h2>Title</h2><%= textbook.title %></li>
                  <li class="textbook-isbn"><h2>ISBN-10</h2><%= textbook.isbn_10 %></li>
                  <li class="textbook-isbn"><h2>ISBN-13</h2><%= textbook.isbn_13 %></li>
                  <li class="textbook-price"><h2>Price</h2><%= number_to_currency(textbook.price) %></li>
                  <li class="link-to-text">
                  <%= link_to 'Show', textbook %> 
                  <% if textbook.user == current_user %>
                    | 
                    <%= link_to 'Edit', edit_textbook_path(textbook) %> |
                    <%= link_to 'Destroy', textbook, method: :delete, data: { confirm: 'Are you sure?' }%>
                  <% end %>
                  </li>
               </ul>
            </div><!--textbook-listing-box ends here-->
          </div><!--col-md-4 ends here-->
        <% end %>
      </div><!--row ends here-->
    </div><!--container ends here-->

    <br>
    </div><!--row ends here-->
   
  </div><!--container ends here-->
</div><!--index-background ends here-->
