<div class="container">
	<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @textbook.title %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @textbook.edition %>
</p>

<p>
  <strong>Author:</strong>
  <%= @textbook.author %>
</p>

<p>
  <strong>Isbn-10:</strong>
  <%= @textbook.isbn_10 %>
</p>
<p>
  <strong>Isbn-13:</strong>
  <%= @textbook.isbn_13 %>
</p>

<p>
  <strong>Section:</strong>
  <%= @textbook.section %>
</p>

	<p>
	  <strong>Condition:</strong>
	  <%= @textbook.condition %>
	</p>

<p>
  <strong>Description:</strong>
  <%= @textbook.description %>
</p>

<p>
  <strong>Amount used:</strong>
  <%= @textbook.amount_used %>
</p>


<p>
  <strong>Price:</strong>
  <%= number_to_currency(@textbook.price) %>
</p>


<p>
  <strong>Sold by:</strong>
  <%= @textbook.user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @textbook.user.email %>
</p>




	<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
	<%= link_to 'Back', textbooks_path %>
</div><!--container ends here-->