<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @textbook.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @textbook.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @textbook.isbn %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @textbook.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @textbook.description %>
</p>

<p>
  <strong>Amount used:</strong>
  <%= @textbook.amount_used %>
</p>


<p>
  <strong>Price:</strong>
  <%= @textbook.price %>
</p>



<p>
  <strong>Email:</strong>
  <%= @textbook.email %>
</p>



<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
<%= link_to 'Back', textbooks_path %>
