<div class="container-profile-page">
<div class="row">
	<div class="my-profile">
	<h1> My Profile </h1>
	</div><!--profile-->

<div class="col-12">

<div class="profile-page-text">
<!--  Account page stuff -->
<h2>
  <strong>Username:</strong>
  <%= @user.username %>
</h2>


<h2>
  <strong>Email:</strong>
  <%= @user.email %>
</h2>


<h2>
  <strong>Username:</strong>
  <%= @user.username %>
</h2>

<h2>

	<strong> Number of listings: </strong>
	<%= @count %>
	<%= link_to('Show my listings', pages_my_listings_path) %>
</h2>
</div><!--profile text ends-->
</div><!--col ends here-->
</div><!--row ends here-->
</div><!--container about page ends-->