<h1> Account page </h1>


<!--  Account page stuff -->
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>

	<strong> Number of listings: </strong>
	<%= @count %>
	<%= link_to('Show my listings', pages_my_listings_path) %>
</p>