<div class="index-background">

  <div class="row">

    <div class="col-12">

    <div class="hero-image-landing">
      <div class="hero-image-overlay">
            <div class="hero-image-container">
    <div class="hero-image-text"><h1> College is Stressful... We're not.</h1> 
    <h2>We let you get the textbooks you need for way less than the retail price.</h2>
    </div><!--hero image text ends-->


  <div class="d-flex justify-content-center">
    <div class="search-bar">
        <li class="textbook-navbar" style="display:flex;">
             <%= form_tag(textbooks_path, method: :get) do %>
              <%= text_field_tag :input, "" %>
             <%= select_tag(:category, options_for_select([ ['Title', "title"], ['ISBN', "isbn"], ['Author', "author"], ["Subject", "subject"]], :selected => params[:category]))  %> 
              <%= submit_tag 'Search', name: nil, :class=>"btn btn-primary" %>
              <%= link_to 'View textbooks', textbooks_path, class: "btn btn-primary" %>
            <% end %>
            </li><!--search-bar ends here-->
    </div><!--search bar-->
    </div><!--hero image ends-->
  </div><!--hero image container-->
      </div><!--/overlay0-->
    </div><!--column ends here-->
    
  </div><!--row ends-->  
<div class="container">
  <div class="col-12">
  <h1>Why Use Bookpository?</h1>
  <p>Bookpository was founded by college students, who have firsthand knowledge of how expensive and stressful buying textbooks can be. These students are dedicated to giving their users the best textbook experience possible.</p>
  <p>Bookpository was founded by college students, who have firsthand knowledge of how expensive and stressful buying textbooks can be. These students are dedicated to giving their users the best textbook experience possible.</p>
</div>
</div>
