<!DOCTYPE html>
<html>
  <head>
  	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans" rel="stylesheet">
  	
    <title>BookBank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <div class="navbar-background">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
      	<ul class="navbar-nav navbar-brand">
            <li class="textbook-navbar"><%= link_to "Home", root_path, class: 'navbar-brand' %></li>
        </ul>
     

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-brand">
            <li class="textbook-navbar"><%= link_to 'New Textbook', new_textbook_path %></li>
        </ul>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-brand">
            <li class="textbook-navbar"><%= link_to "All Textbooks", textbooks_path %> </li>
        </ul>
      </div>
    </nav><!--navbar ends here-->
  </div><!--container for nav bar-->
</div><!--navbar-background ends here-->





  <body>
    <%= yield %>
  </body>
</html>
