<!DOCTYPE html>
<html>
  <head>
  	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans" rel="stylesheet">
  	
    <title>BookPository</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <div class="container">
      <!-- -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-background-dark">
      	<ul class="navbar-nav navbar-brand">

      <li class="textbook-navbar"><%= link_to "BookPository", root_path, class: 'navbar-brand' %></li>
      
      <li class="textbook-navbar"><%= link_to 'Sell Textbook', new_textbook_path, class: 'navbar-brand' %></li>
 
        </ul>
        <!-- end left side -->


        <!-- begin right side -->
        <ul class="navbar-nav ml-auto">

          <li class="textbook-navbar">
            <%= link_to 'About us', pages_about_path, class: 'navbar-brand' %>
          </li>


              <!-- if the user is signed in -->
              <% if user_signed_in? %>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown toggle" href="#" id ="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Account
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to('Inbox', messages_path,class:"dropdown-item") %>
                      <%= link_to('My Account', pages_account_path,class:"dropdown-item") %>
                      <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"dropdown-item") %> 
                      <%= "Hello, #{current_user.username}"%>    

                    </div>
                      </li>
              <% else %>

              <li class="textbook-navbar"><%= link_to('Login', new_user_session_path, class: "navbar-brand")  %></li>
              <li class="textbook-navbar"><%= link_to "Sign up", new_user_registration_path, class: "navbar-brand" %></li>
              <% end %>    
     </ul>

      </div>
    </nav><!--navbar ends here-->
  </div><!--container for nav bar-->


  <body>
    <%= yield %>
  </body>
  <div class="footer">
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h2>BookPository</h2>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->

            <ul class="list-unstyled">
              <li>
                <%= link_to("Buy Textbooks", root_path) %>
              </li>
              <li>
                <%= link_to("Sell a Textbook", new_textbook_path ) %>
              </li>
              <% if user_signed_in? %>
              <li> <%= link_to('My Account', pages_account_path)  %> </li>
              <li> <%= link_to('My Inbox', messages_path) %> </li>
              <% else %>
              <li> <%= link_to('Login', new_user_session_path)  %> </li>
              <li> <%= link_to('Sign Up', new_user_registration_path) %> </li>
             
              <% end %>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <ul class="list-unstyled">
              <li>
                <%= link_to("Frequently Asked Questions", pages_faq_path) %>
              </li>
              <li>
                <a href="#!">Contact Us</a>
              </li>
              <li>
                <a href="#!">Report a User</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  
  </footer>
  <!-- Footer -->
</div><!--footer ends-->
</html>
